* {
  margin: 0 auto;
  font-family: "Exo 2", sans-serif;
}

#splashPage {
  background: url(https://images.unsplash.com/photo-1518176258769-f227c798150e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#splashPage p {
  color: white;
  font-size: 150px;
  margin-top: 50px;
}

h1 {
  color: white;
  padding-bottom: 200px;
  font-size: 80px;
}

input {
  width: 40%;
  height: 40px;
}

button {
  margin-top: 20px;
  height: 40px;
  width: 25%;
  border-radius: 50px;
  color: white;
  background: black;
  border: none;
  cursor: pointer;
}

#beerDisplay {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 21%;
  height: 600px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 0px black;
  background: white;
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #f4a950;
  border-radius: 10px 10px 0px 0px;
}

.container:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 0px black;
}

img {
  height: 200px;
  width: auto;
  object-fit: contain;
}

h6 {
  text-align: center;
  font-size: 15px;
  padding: 25px;
  font-style: oblique;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-family: "Pacifico", cursive;
}

.description {
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 150px;
  line-height: 30px;
  overflow: hidden;
}

.continue {
  margin-top: 10px;
  font-size: 40px;
}

p {
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.level {
  margin-top: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  #beerDisplay {
    display: block;
  }

  .container {
    width: 75%;
    height: 100%;
  }
}
